<form (ngSubmit)="signInSubmit(form)" #form="ngForm">
  <p class="title">Signin to your account</p>
  <div class="form-group">
    <label for="userName">Username</label>
    <input
      type="text"
      name="userName"
      placeholder="Provide your username"
      class="form-control"
      [(ngModel)]="userInfo.userName"
      #userName="ngModel"
      required
      [ngClass]="{'invalid' : userName.errors && (userName.touched || userName.dirty)}"
    />
    <div
      class="error"
      *ngIf="userName.invalid && (userName.dirty || userName.touched)"
    >
      Username is mandatory
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      placeholder="Provide your pasword"
      class="form-control"
      [(ngModel)]="userInfo.password"
      #password="ngModel"
      required
      minlength="4"
      [ngClass]="{'invalid' : password.errors && (password.touched || password.dirty)}"
      />
    
    <div
      class="error"
      *ngIf="password.invalid && (password.dirty || password.touched)"
    >
      <div *ngIf="password.errors?.['required']">Password is mandatory</div>
      <div *ngIf="password.errors?.['minlength']">
        Password must be min 4 chars long
      </div>
    </div>
  </div>
  <button type="submit">Signin</button>
  <!-- {{ userName.value }} -->
  <!-- {{ password.value }} -->
</form>
